@keyframes ticker {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .ticker {
    padding: 30px;
    width: 1025px;  
    overflow: hidden;
    background-color: #4848481f;
    margin: auto;  //Centriranje
  }
  
  .ticker__items {
    height: 80px;
    display: flex;
    animation: ticker var(--animation-duration, 10) linear infinite; 
  }
  
  .ticker__item {
    padding: 0 2rem;
    white-space: nowrap;
  }
  