.akordionSirina {
  max-width: 1025px;
  margin: auto;
}

.accordion-content {
  display: flex;
  flex-direction: column;
}

.participant-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.participant-text {
  flex-grow: 1;
}

.participant-image {
  width: 200px;
  height: 250px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .participant-info {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .participant-image {
    width: 100%;
    order: -1;
    margin-bottom: 50px; 
    margin-top:50px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.participant-texts {
  text-align: justify;
  margin-top:20px;
}


