<div class="akordionSirina text-center">
  <p-accordion class="akordionSirina text-center">
    <ng-container *ngIf="participants.length > 0; else noParticipants">
      <p-accordionTab *ngFor="let participant of participants">
        <ng-template pTemplate="header">
          <div class="accordion-header acccordionHeaderText">
            {{ participant.title }} {{ participant.first_name }} {{ participant.last_name }} - {{ participant.theme }}
          </div>
        </ng-template>
        <div class="accordion-content text-center">
          <div class="participant-info">
            <div class="participant-text">
              <h2>{{ participant.title }} {{ participant.first_name }} {{ participant.last_name }}</h2>
              <h3><span class="tema">{{ participant.theme }}</span></h3>
            </div>
            <div class="participant-image" *ngIf="participant.photo_name; else defaultImage">
              <img [src]="getImageUrl(participant.photo_name)" alt="{{ participant.first_name }} {{ participant.last_name }}">
            </div>
            <ng-template #defaultImage>
              <div class="participant-image">
                <img src="assets/white.png" alt="Default Image">
              </div>
            </ng-template>
          </div>
          <div class="participant-texts">
            <p>{{ participant.text1 }}</p>
            <p>{{ participant.text2 }}</p>
            <p>{{ participant.text3 }}</p>
          </div>
        </div>
      </p-accordionTab>
    </ng-container>
    <ng-template #noParticipants>
      <div class="text-center">
        <p>No participants to display.</p>
      </div>
    </ng-template>
  </p-accordion>
</div>
