<div class="container">
    <div class="text-container">
        <h2 class="headline">{{'organizacijskicommiti' | translate}}</h2>
        <h1 class="text-center">
            Franko Majdak, doctorand - <a href="https://www.linkedin.com/in/franko-majdak-8978371ab/" target="_blank">LINKEDIN</a><br>
            Maja Mustač, dr. med. - <a href="https://www.linkedin.com/in/maja-musta%C4%8D-3504a66a/" target="_blank">LINKEDIN</a><br>
            Mario Franolić, dr. med. - <a href="https://www.linkedin.com/in/mario-franoli%C4%87-10a0a848/" target="_blank">LINKEDIN</a><br>
            Alexandre Benfadel, Directeur commercial - <a href="https://www.linkedin.com/in/alexandrebenfadel/" target="_blank">LINKEDIN</a>
        </h1>
    </div>
</div>
