<div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <a href="https://agopuntura.it/"  target="_blank">
            <div class="slike">
                <img src="/assets/AIA.png" alt="Image 1" class="img-fluid">
            </div>
        </a>
        <div class="text">
            <h5 class="nameOrg1">Assoziazione Italiana Agopuntura</h5>
            <!-- <h5 class="nameOrg">{{'Talijani' | translate}}</h5> -->
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <a href="http://www.acumedsyn.org/"  target="_blank">
            <div class="slike">
                <img src="/assets/SNMAF.jpg" alt="Image 2" class="img-fluid">
            </div>
        </a>
        <div class="text">
            <h5 class="nameOrg1">ASyndicat National des Medicins Acupuncteurs de France</h5>
            <!-- <h5 class="nameOrg">{{'Francuzi' | translate}}</h5> -->
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <a href="https://acupuncturists-association-of.business.site/"  target="_blank">
            <div class="slike">
                <img src="/assets/CRN.jpg" alt="Image 3" class="img-fluid">
            </div>
        </a>
        <div class="text">
            <h5 class="nameOrg1">Udruženje Akupunkturologa Crne Gore</h5>
            <!-- <h5 class="nameOrg">{{'Crnogorci' | translate}}</h5> -->
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="slike">
            <img src="/assets/CRN.jpg" alt="Image 4" class="img-fluid">
        </div>
        <div class="text">
            <h5 class="nameOrg1">Lorepsum primjer primjer drustvo</h5>
            <!-- <h5 class="nameOrg">Example of title headtitle example</h5> -->
        </div>
      </div>
    </div>
  </div>
  