.img-responsive {
  max-width: 1025px; 
  width: 100%;  
  height: auto; 

  @media (max-width: 575px) {
    padding: 10px;
  }
}

.background-image {
  background-image: url('/assets/AMADRIAblur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100vh; 
}
h2, p{
  color: whitesmoke;
  font-weight: bolder;
}



.textcont {
  width: 1025px;
  display: flex;
  align-items: center;
  margin-left: 10px;

  @media (max-width: 575px) {
    margin-top: 60px !important;
  }

  @media (min-width: 576px) {
    margin-top: 150px !important;
  }
}
