<div *ngIf="showContent">
    <div class="d-flex justify-content-center mt-5">
        <div style="width: 1025px; display: flex; align-items: center;">
            <div style="margin-left: 10px;">
                <h2 style="margin-bottom: 0; margin-left: 10px; margin-bottom: 20px;">CROATIAN CONGRESS OF ACUPUNCTURE WITH
                    INTERNATIONAL PARTICIPATION 2023</h2>
                <p style="margin-bottom: 0; margin-left: 10px; font-size: medium !important;">OPATIJA - March 19th - 21st,
                    2024 </p>
                <p style="margin-bottom: 0; margin-left: 10px; font-size: medium !important;">OPATIJA - April 19th - 21st,
                    2024</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3 p-3 ">
        <img src="assets/mock.jpg" class="mx-auto d-block img-responsive" alt="Your image description">
    </div>
    <app-ticker></app-ticker>

  </div>
  