

.col {
    height: 40vh;
    padding: 10px;
}

.custom-col {
    background-color: #FF5733; 
    color: #341f1f;
    margin: 10px; 
    height: 60vh;
    width: 30vh;
    padding: 10px;
    box-sizing: border-box;
    
  }

  @media (max-width: 767px) {
    .custom-col {
      height: 480px; 
      line-height: 80px;
    }
    .sekcija2{
      margin-bottom: 10px;
    }
  }
  .sekcija2{
    border: 1px solid #847d7d88;
    background-color: #0d78ea38; 
     margin-bottom: 50px;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
  }
  .content {
    flex: 1; 
    max-width: calc(100% - 600px); 
  }
  .image-container {
    max-width: 600px; 
    padding-top: 12.5px;
  }
  .image-container img {
    width: 100%; 
    height: auto; 
    display: block; 
  }


.centered-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px ;
}

.centered-form input[type="text"] {
  width: 80%; 
  padding: 5px; 
  margin: 5px 0; 
}

h2 {
  size: 4vw !important;
}

.h1TextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007ad9; 

  box-sizing: border-box;
  margin-top: 30px;
  width: 100%;
  border: 1px solid #847d7d88;
}

.custom-form-width {
  width: 300px !important;
}
#userMobile{
  width:300px ;
}

@media screen and (max-width: 768px) {
  .h1TextDiv {
    text-align: center; 
  }
  .centeredFOrma{
    justify-content: center;
  }
  .form-control{
    width: 300px;
  }
  .image-container {
    max-width: 0px; 
  }
  .image-container img {
    width: 0px; 

  }

}

header{
  width: 100%;
}
.col-12.col-md-9.section1 {
  width: 100% !important;
}

divOdHeadera{
  width: 100%;
}
.col.colHolder.ng-star-inserted {

  height: auto;
}

/* CSS for btn-outline-secondary */
.selected-button {
  background-color: rgb(0, 255, 64);
  border-color:rgb(0, 255, 64);
  color: #242323db;
}

/* CSS for selected-button */
.btn-outline-secondary {
  background-color: #ff0400;
  border-color: #ff0400;
  color: #fff;
}
.bezvezeMargina{
  margin-top: 30px;
}
card-body{
  min-width: 50px;
  min-height: 100px;
}

.expanded {
  max-height: none;
  overflow: auto;
}

.pTextDiv {
  max-height: 500px; /* Adjust this height as needed */
  overflow: hidden;
  margin-bottom: 20px;
}


.show {
  margin-bottom: 20px;
}
h1{
  justify-content: center;
}

.h1TextDiv{
  height: 200px;
}



@media (max-width: 768px) {
  .card-body {

    margin-bottom: 20px;
  }
  .pTextDiv{
      margin-bottom: 10px;
  }
  .pTextTitula{
    margin-bottom: 20px;
    margin-top: 20px;

  }
  .h1TextDiv{
      height: 100px;
  }

  .sekcija2{
    height: fit-content;
  }

}

#userName, #userSurname, #userAddress, #userOIB{
width: 300px;

}
.centerh3{
  margin-top: 65px;
}

.selectGumb{
  margin-bottom: 15px;
}

.card {
  background-color: #fff;
  transition: background-color 0.3s; /* Add smooth transition for the background-color */
}

/* Styles to apply when hovering over the card */
.card:hover {
  background-color: #007bd96c; /* Change to a different color on hover */
}

h1{
  color: #fff;
}

.card{
  border-width: 2px;
  border-color: #007ad9;
}
