<div class="container">
    <div class="row">
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span>
                        Pick your option
                    </span>
                </header>
            </div>
            <div class="row row-cols-3 g-3">
              <div class="col" *ngFor="let item of radionica">
                <app-shopItems [radionice]="item" (cardSelected)="addToBasket($event)"></app-shopItems>
              </div>
              
              
              
              
                  
                <div>
                    <form>
                      <div class="form-group">
                        <label for="userName">{{'FormName' | translate}}</label>
                        <input type="text" class="form-control" id="userName" [(ngModel)]="userName" name="userName">
                      </div>
                      <div class="form-group">
                        <label for="userSurname">{{'FormSurname' | translate}}</label>
                        <input type="text" class="form-control" id="userSurname" [(ngModel)]="userSurname" name="userSurname">
                      </div>
                    </form>
                    <button class="btn btn-primary" (click)="sendOffer()">{{'SendOffer' | translate}}</button>
                  </div>
                  
                
            </div>
        </section>
    </div>
</div>
