<div class="container">
  <div class="row">
    <section class="col-12 col-md-9 section1">
      <div class="d-flex justify-content-between align-items-center pb-2 divOdHeadera">
        <header class="header">
          <div class="h1TextDiv">
            <h1 class="align-items-center p-5">
              {{'pickTicket' | translate}}
            </h1>
          </div>
        </header>
        
      </div>
      <p class="align-items-center p-5">
        {{'studentText' | translate}}
      </p>
      <div class="row row-cols-1 row-cols-md-3 g-3 bezvezeMargina">

        <div class="card mb-4 box-shadow">
          <img class="card-img-top">
          <div class="card-body">
            <div class="text-center">
              <h1 class="card-text"></h1>
            </div>
            <div>
              <h4 class="text-center centerh3">EARLY BIRD</h4>
              <h3 class="text-center">90 EUR</h3>
            </div>


          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group selectGumbDiv">
              <button type="button" class="btn btn-sm selectGumb" [ngClass]="{
                'btn-outline-secondary': !ticketSelections[0].selected,
                'selected-button': ticketSelections[0].selected
              }" (click)="odaberiTicket(0)">
              {{ ticketSelections[0].selected ? ('selected' | translate) : ('select' | translate) }}
            </button>

            </div>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <img class="card-img-top">
          <div class="card-body">
            <div class="text-center">
              <h1 class="card-text"></h1>
            </div>
            <div>
              <h4 class="text-center centerh3">REGULAR</h4>
              <h3 class="text-center">100 EUR</h3>
            </div>


          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group selectGumbDiv">
              <button type="button" class="btn btn-sm selectGumb" [ngClass]="{
                'btn-outline-secondary': !ticketSelections[1].selected,
                'selected-button': ticketSelections[1].selected
              }" (click)="odaberiTicket(1)">
              {{ ticketSelections[1].selected ? ('selected' | translate) : ('select' | translate) }}
            </button>

            </div>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <img class="card-img-top">
          <div class="card-body">
            <div class="text-center">
              <h1 class="card-text"></h1>
            </div>
            <div>
              <h4 class="text-center centerh3">STUDENT</h4>
              <h3 class="text-center">100 EUR</h3>
            </div>


          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group selectGumbDiv">
              <button type="button" class="btn btn-sm selectGumb" [ngClass]="{
    'btn-outline-secondary': !ticketSelections[2].selected,
    'selected-button': ticketSelections[2].selected
  }" (click)="odaberiTicket(2)">
  {{ ticketSelections[2].selected ? ('selected' | translate) : ('select' | translate) }}
</button>

            </div>
          </div>
        </div>

      </div>

    </section>
    <section class="col-12 col-md-9 section1">
      <div class="d-flex justify-content-between align-items-center pb-2 divOdHeadera">
        <header class="header">
          <div class="h1TextDiv">
            <h1 class="align-items-center p-5">
              {{'pickWorkshop' | translate}}
            </h1>
          </div>
        </header>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-3 bezvezeMargina">
        <div class="col colHolder" *ngFor="let item of radionica; let i = index">
          <app-shopItems [radionice]="item" [cardIndex]="i" (cardSelected)="addToBasket($event)"></app-shopItems>
        </div>


      </div>
    </section>
    <header class="header">
      <div class="h1TextDiv">
        <h1 class="align-items-center p-5">
          {{'contactText' | translate}}
        </h1>
      </div>
      <p class="align-items-center p-5">
        {{'contactText2' | translate}}
      </p>
    </header>
    <section>
      <div>
        <div class="centered-form centeredFOrma">
          <form #userForm="ngForm" (ngSubmit)="sendOffer()">
            <div class="form-group">
              <label for="userName">{{ 'FormName' | translate }}</label>
              <input type="text" class="form-control" id="userName" [(ngModel)]="userName" name="userName">
            </div>
            <div class="form-group">
              <label for="userSurname">{{ 'FormSurname' | translate }}</label>
              <input type="text" class="form-control" id="userSurname" [(ngModel)]="userSurname" name="userSurname">
            </div>
            <div class="form-group">
              <label for="userMobile">{{ 'FormMobile' | translate }}</label>
              <input
                type="tel"
                class="form-control"
                id="userMobile"
                [(ngModel)]="userMobile"
                name="userMobile"
                #userMobileInput="ngModel"
                pattern="[0-9]*"
                minlength="9"
                required
              />
              <div *ngIf="userMobileInput.invalid && (userMobileInput.dirty || userMobileInput.touched)">
                <div *ngIf="userMobileInput.errors?.['required']" style="color: red;">
                  {{ 'FormMobileValidation' | translate }}
                </div>
                <div *ngIf="userMobileInput.errors?.['pattern']" style="color: red;">
                  {{ 'FormMobileValidationOnlyDigits' | translate }}
                </div>
                <div *ngIf="userMobileInput.errors?.['minlength']" style="color: red;">
                  {{ 'FormMobileValidationDigits' | translate }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="userAddress">{{ 'FormAddress' | translate }}</label>
              <input type="text" class="form-control" id="userAddress" [(ngModel)]="userAddress" name="userAddress">
            </div>
            <div class="form-group">
              <label for="userOIB">{{ 'FormOIB' | translate }}</label>
              <input
                type="text"
                class="form-control"
                id="userOIB"
                [(ngModel)]="userOIB"
                name="userOIB"
                #userOIBInput="ngModel"
                pattern="[0-9]*"
                minlength="11"
                required
              />
              <div *ngIf="userOIBInput.invalid && (userOIBInput.dirty || userOIBInput.touched)">
              
                <div *ngIf="userOIBInput.hasError('pattern')" style="color: red;">
                  {{ 'FormOIBValidationOnlyDigits' | translate }}
                </div>
                <div *ngIf="userOIBInput.hasError('minlength')" style="color: red;">
                  {{ 'FormOIBValidationDigits' | translate }}
                </div>
              </div>
            </div>
            

            <button class="btn btn-primary mt-3" [disabled]="!userForm.valid" type="submit">
              {{ 'SendOffer' | translate }}
            </button>
          </form>
        </div>
      </div>
    </section>
    
  </div>
</div>