/* Add this CSS to your global or component-specific CSS file */
.logo-background {
  background-color: #007ad9;
}

.nav-width {
  max-width: 100%;

  @media (min-width: 992px) {
    max-width: 85%;
  }
}

.navbar-nav {
  text-align: center;
}

@media (min-width: 992px) {
  .navbar-nav {
    text-align: center; /* Center items horizontally */
    display: flex;
    justify-content: space-between; /* Add space between items */
    align-items: center; /* Vertically center items */
  }
}

.container-main {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-direction: column; /* Stack items vertically in a column */
  width: 100%; /* Adjust width as needed */
}

.container-main .navbar-nav {
  margin: 0; /* Remove the default margin */
}

a {
  color: rgba(245, 245, 245, 0.79);
  font-weight: 600;
}
a:hover {
  color: rgb(245, 245, 245);
  font-weight: 600;
}
a:active {
  color: rgb(0, 255, 81) !important;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
}

.navbar-nav .nav-item {
  margin-right: 15px;
  display: inline-block;
  font-size: small;
  
}

.collapse.navbar-collapse {
  justify-content: flex-start;
}

/* Language Control Styles */
.language-control {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: inline-block;
}

/* Adjust the button size to make it smaller */
.form-control-sm {
  width: 100px;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

/* Style for the dropdown items */
.dropdown-menu a {
  color: rgba(54, 46, 46, 0.79); /* Adjust color as needed */
}

.dropdown-menu a:hover {
  background-color: #007ad9; /* Adjust background color on hover */
}