<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #007ad9;">
  <div class="container-fluid">

    <!-- Hamburger Menu -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': !isNavbarCollapsed}">
      <ul class="navbar-nav mx-auto">
        <!-- Regular Nav Items -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/naslovna" routerLinkActive="active" (click)="closeNavbar(); showSpinnerAndNavigate()">{{'homepage' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)=closeNavbar();>{{ 'about' | translate }}</a>

          <!-- Dropdown  -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProgram" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PROGRAM
          </a>
            <!-- Dropdown nav items  -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdownProgram">
            <a class="dropdown-item" [href]="getPdfLink()" download (click)=closeNavbar(); style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{ 'raspored' | translate }}</a>
            <a class="dropdown-item" routerLink="/predavaci" (click)=closeNavbar(); style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{ 'lecturers' | translate }}</a>
            <a class="dropdown-item" routerLink="/radionice" (click)=closeNavbar(); style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{ 'workshops' | translate }}</a>
            <a class="dropdown-item" routerLink="/organizacije" (click)=closeNavbar(); style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{ 'organizations' | translate }}</a>
          </div>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProgram" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
            {{'odbori' | translate}}
          </a>
            <!-- Dropdown nav items  -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdownProgram">
            <a class="nav-link dd2" routerLink="/organizacijski_odbor" routerLinkActive="active" (click)=closeNavbar();
            style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{'OrganizacijskiOdbor' | translate}}</a>
            <a class="nav-link dd2" routerLink="/znanstveni_odbor" routerLinkActive="active" (click)=closeNavbar();
            style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{'ZanenstveniOdbor' | translate}}</a>
          </div>
        </li>



        
        <li class="nav-item">
          <a class="nav-link" routerLink="/smjestaj" routerLinkActive="active" (click)=closeNavbar();
            style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{'Accommodation' | translate}}</a>
        </li>
      
        
       
        <!-- ... More items if needed ... -->
      </ul>
    </div>

      <a class="shopIkona" routerLink="/shop" routerLinkActive="active" (click)="closeNavbar()">
        <i class="fas fa-shopping-cart fa-2x" style="color: #fbfcff; margin-right: 5px;"></i>
      </a>


       <!-- Language Selector -->
    <span class="form-inline language-control">
      <select class="form-control form-control-sm" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  </div>
</nav>