.logo-background {
  background-color: #c4e5f9;
}

  
.nav-width {
  max-width: 100%;

  @media (min-width: 992px) {
    max-width: 85%;
  }
}

.navbar-nav {
  text-align: center;

  @media (min-width: 992px) {
    text-align: left; 
  }
}

.nav-item.active .nav-link {
  color: #ffffff;
  background-color: #000000;
  border-radius:3ch
}