

  <div class="logo-background">
    <div class="d-flex justify-content-center">
        <img src="/assets/logoNas.png" alt="" class="img-fluid mx-auto d-block">
    </div>
  </div>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto mx-lg-0" href="#">
        <img src="assets/wihsvg.png" class="logo" alt="Your image description">
      </a>
      <div class="collapse navbar-collapse justify-content-lg-start nav-width" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Naslovna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">O nama</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Predavači</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Radionica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kupovina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Smještaj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sudionici</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sponzori</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
