<nav class="navbar navbar-expand-lg navbar position-relative" style="background-color: #007ad9;">
  <div class="container">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'hide': isNavbarHidden, 'show': !isNavbarHidden && !isNavbarCollapsed}" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/naslovna" routerLinkActive="active" (click)="showSpinner(); closeNavbar()" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 500;">{{'homepage' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 500;">{{'about' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/predavaci" routerLinkActive="active" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 500;">{{'lecturers' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/radionice" routerLinkActive="active" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 500;">{{'workshops' | translate}}</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/kupovina" routerLinkActive="active">Kupovina</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/smjestaj" routerLinkActive="active">Smještaj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sudionici" routerLinkActive="active">Sudionici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sponzori" routerLinkActive="active">Sponzori</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
