/* CSS for btn-outline-secondary */
.selected-button {
  background-color: rgb(0, 255, 64);
  border-color:rgb(0, 255, 64);
  color: #242323db;
}

/* CSS for selected-button */
.btn-outline-secondary {
  background-color: #ff0400;
  border-color: #ff0400;
  color: #fff;
}
  .card-text{
    margin-top: 30px;
  }
  card-body{
    min-width: 50px;
    min-height: 190px;
  }

  .expanded {
    max-height: none;
    overflow: auto;
  }
  
  .pTextDiv {
    max-height: 900px; 
    overflow: hidden;
    margin-bottom: 20px;
  }


  .show {
    margin-bottom: 20px;
  }
  h1{
    justify-content: center;
  }

  .h1TextDiv{
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 200px;    
  }

  .StoEvra {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;           
  }
  .centarIme{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.centriranje{
  justify-content: center;
}

  @media (max-width: 768px) {
    .card-body {

      margin-bottom: 20px;
      padding: 0;
    }
    .pTextDiv{
        margin-bottom: 10px;
    }
    .pTextTitula{
      margin-bottom: 20px;
      margin-top: 20px;
  
    }
    .h1TextDiv{
        height: 200px;
    }

  }


  .card-body {
    background-color: #fff;
    transition: background-color 0.3s; /* Add smooth transition for the background-color */
  }
  
  /* Styles to apply when hovering over the card */
  .card-body:hover {
    background-color: #007bd96c; /* Change to a different color on hover */
  }

  .selectGumb{
    justify-content: center;
  }


