/* CSS for btn-outline-secondary */
.btn-outline-secondary {
    background-color: rgb(255, 21, 0);
    border-color: rgb(255, 21, 0);
    color: #fff;
  }
  
  /* CSS for selected-button */
  .selected-button {
    background-color: #007bff;
    border-color: #007bff ;
    color: #fff;
  }

  card-body{
    min-width: 50px;
    min-height: 100px;
  }

  .expanded {
    max-height: none;
    overflow: auto;
  }
  
  .pTextDiv {
    max-height: 500px; /* Adjust this height as needed */
    overflow: hidden;
    margin-bottom: 20px;
  }
  .show {
    margin-bottom: 20px;
  }
  h1{
    justify-content: center;
  }
  .h1TextDiv{
    height: 144px;
  }
  @media (max-width: 768px) {
    .card-body {

      margin-bottom: 20px;
    }
    .pTextDiv{
        margin-bottom: 10px;
    }
    .h1TextDiv{
        height: 100px;
    }
  }