/* CSS for btn-outline-secondary */
.btn-outline-secondary {
    background-color: rgb(255, 21, 0);
    border-color: rgb(255, 21, 0);
    color: #fff;
  }
  
  /* CSS for selected-button */
  .selected-button {
    background-color: #007bff;
    border-color: #007bff ;
    color: #fff;
  }

  card-body{
    min-width: 50px;
    min-height: 100px;
  }