/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import '~bootstrap/dist/css/bootstrap.min.css';



  
h2, p{
    font-size: 1.5vw !important;  //kad je full
}
h3 {
    font-size: 1.5vw !important;  // kad je full
}

@media (max-width: 575px) { //kad je 575px or less
    p {
        font-size: 3vw !important;  
        padding-left: 5px;
        padding-right: 5px;
    }
    h2 {
        font-size: 4vw !important;  
        padding-left: 5px;
        padding-right: 5px;
    }
    h3 {
        font-size: 4vw !important; 
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 1801px) {
    h2, p, h3 {
      font-size: 1vw !important;
    }
  }