<div class="container">
    <div class="text-container">
        <h2 class="headline">{{'znanstveniodbor' | translate}}</h2>
        <h1 class="text-center">
            Maja Mustač, dr. med. - <a href="https://www.linkedin.com/in/maja-musta%C4%8D-3504a66a/" target="_blank">LINKEDIN</a><br>
            Mario Franolić, dr. med.  - <a href="https://www.linkedin.com/in/mario-franoli%C4%87-10a0a848/" target="_blank">LINKEDIN</a><br>
            Štefica Findri Guštek, dr.med. - <a href="https://www.linkedin.com/in/%C5%A1tefica-findri-gu%C5%A1tek-14564b1ba/" target="_blank">LINKEDIN</a><br>
            Mr.sc Krunoslav Reljanović - <a href="assets/Mr. sc. Krunoslav Reljanović.pdf" target="_blank">CV</a> <br>
            MD Konstantina Theodoratou - <a href="https://www.linkedin.com/in/konstantina-theodoratou/" target="_blank">LINKEDIN</a> <br>
            Academic Vida Demarin - <a href="assets/Academic Vida Demarin.pdf" target="_blank">CV</a> <br>
            Anton Vladić, dr.med. - <a href="assets/Doc. dr. sc. Anton Vladić, dr.med.pdf" target="_blank">CV</a> <br>
            Asst. Prof. Vlasta Orlić Karbić, M.D., Ph.D - <a href="assets/Asst. Prof. Vlasta Orlić Karbić, M.D., Ph.D.pdf" target="_blank">CV</a>
        </h1>
    </div>
</div>
