<div class="container">
    <div class="header text-center mt-5">
      <h1>Amadria Park Hotel</h1>
      <p>{{ 'followLink' | translate }}</p>
      <button class="btn btn-primary" (click)="openLinkInNewWindow()">{{ 'Reserve' | translate }}</button>
    </div>
  </div>
  
  <div class="container mt-5 text-center">
    <img class="centered-image" src="/assets/GrandHotel.jpg" alt="">
  </div>
  <div class="container mt-5 text-center">
    <img class="centered-image" src="/assets/GrandHotel2.jpg" alt="">
  </div>
  <div class="container mt-5 text-center">
    <img class="centered-image" src="/assets/GrandHotel3.jpg" alt="">
  </div>
  <div class="container mt-5 text-center">
    <img class="centered-image" src="/assets/GrandHotel4.jpg" alt="">
  </div>
  <div class="container mt-5 mb-5">
    <div class="header mb-5 containerText">
        <h1 class="text-center mb-5">OPATIJA</h1>
        <p class="text-center">{{'Opatija1' | translate}}</p>
        <p class="text-center">{{'Opatija2' | translate}}</p>
    </div>
  </div>

  <div class="container mt-5 text-center">
    <img class="centered-image" src="/assets/opatija2.jpg" alt="">
  </div>
  <div class="container mt-5 text-center">
    <img class="centered-image" src="/assets/opatija3.jpg" alt="">
  </div>
  <div class="container mt-5 text-center">
    <img class="centered-image" src="/assets/opatija4.jpg" alt="">
  </div>
  <div class="container mt-5 mb-5 text-center">
    <img class="centered-image" src="/assets/opatija5.jpg" alt="">
  </div>