.centered-image {
  max-width: 100%; 
    height: auto; 
  margin: 0 auto;
  display: block;
  border-width: 5px; 
}


  .containerText{
    max-width: 1025px;
    margin: 0 auto; 
    display: block; 
    border-width: 5px;
  }